<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"Let's party!"</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body class="about">
<nav class="navbar navbar-expand-lg navbar-dark py-3">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h2 class="text-white">Let's Party!</h2>
        <div  class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class ="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/about}">about</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home}">home</a>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/venuedetails}">zaaldetails</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/clienthome}">clienthome</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" th:href="@{/pay}">pay</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main>
    <div class="row justify-content-center align-items-center" style="height:50vh;">
        <div class="col-auto">
            <div class="border border-3 rounded border-dark px-4 py-3 d-inline-flex">
                <h1 class="me-3 mb-0"><a class="text-decoration-none" th:href="@{/clientdetails}">clientdetails</a></h1>
                <h1 class="mb-0"><a class="text-decoration-none" th:href="@{/clientgreeting}">clientgreeting</a></h1>
            </div>
        </div>
    </div>
</main>
<footer class="footer border rounded text-center mt-4" style="background-color: crimson;">
    <h2>©beepboop inc.</h2>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>